{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title> Choo Choo {% block pagetitle %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Stefano Tranquillini">
    <meta name="keywords" content="">
    <!-- Le styles -->
    <link rel="icon"
          type="image/png"
          href="{% static "img/icon.png" %}">
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/font-awesome.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <style>
        .almost_invisible {
            color: #fff;
        }
    </style>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
    <script>
        {%block script_head %}

        {% endblock %}
    </script>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-42774803-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();

    </script>
</head>

<body>


<div class="container-narrow">
    <div class="masthead">
        <ul class="nav nav-pills">
            <li class="active"><a href="/"> Choo Choo </a></li>
            {%  comment %}
            <li class=" pull-right">
                <a href="{% url "percorso" %}">Percorso</a>
            </li>
            {% endcomment %}
            <li class=" pull-right">
                <a href="{% url "stazione" %}">Stazione </a>
            </li>
        </ul>
        </li>
        </ul>

    </div>


    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <h3 class="center"> {{ message }}</h3>

            </div>
        {% endfor %}
    {% endif %}
    {% block container %}

    {% endblock %}
    <hr>
    <div id="footer">
        <small class="muted">I dati sono di proprieta' di Trenitalia. Questo sito replica il sito <a
                target="_blank"
                href="http://www.viaggiatreno.it">viaggiatreno</a>,
            ma in maniera piu' funzionale (o almeno spero)
        </small>
        <br/>
        <small><a target="_blank" href="http://me.stefanotranquillini.me">contatti</a></small>
        <small class="easteregg almost_invisible pull-right"><a class="almost_invisible" href="#">.</a></small>

    </div>
    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Choo Choo</h3>
        </div>
        <div class="modal-body">
            you find it..
            <center>
                <p><img width="200px" src="{% static "img/choochoo.jpg" %}"/></p>
            </center>
        </div>
    </div>

</div>


<script>

    $(document).ready(function () {
        $('.tip').tooltip();
    });
    $('.easteregg').click(function (event) {
        $('#myModal').modal('show')
    });
</script>
{% block script_footer %}

{% endblock %}


</body>
</html>